# Settings for quipdiff.py

# Get your token at https://kolonialno.quip.com/dev/token
token = ""

# Make sure the dir exists
state_dir = "~/.quipdiff/"

# Use the whole URL
threads = ["https://organizaion.quip.com/O14x234eT/Test-document"]

output = "stdout"  # <stdout|gmailsmtp>

# Gmail settings
smtp_username = "yourmail@gmail.com"
# Get an app password from Gmails settings
smtp_password = "app-password"
# recipient(s), string or list of strings
smtp_recipient = "yourmail+quipdiff@gmail.com"

output_format = "text"  # <text|html|markdown>
